@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 40px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #FFFDE4, #005AA7);
    font-family: "Roboto", "Helvetica Neue";
}

.container {
    border: 10px solid blue;
    height: 50%;
    width: 50%;
    text-align: center;
    background: linear-gradient(to right, #ffa17f, #00223e);
    color: white;
}

.container #text1 {
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 20px;
}

.container #text2 {
    margin-bottom: 20px;
}

.container #btn {
    border-radius: 20px;
    margin-top: 50px;
    background: linear-gradient(to right, #ad5389, #3c1053);
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
}

.container #btn:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    cursor: pointer;
    color: black;
}